#pageHeader
{
    background-image:url(images/main_top.png);
    color: blue;
}
#Content{
    color: red; background: white;
}
#pageFooter{
    color: black; background: aqua;
}
#pageContent
{
display:block;
width:1000px;
height:auto;
}
#content_top
{
	background-image:url(../images/main_top.png);
	background-repeat:no-repeat;
	width:689px;
	height:23px;
}
#leftmenu
{
margin-top:15px;
width:204px;
float:left;
}
body
{
    margin: 0px;
    padding: 0px;
    background-image:url(../images/background.png);
}
table
{
    
}